<div class="top_box">
    各ページ下部の共通バナーとか！！！！！！！！！！！！<br />
    {% block top %}
       キャンペーンバナー<br />
    {% endblock %}
</div>
<div class="bottom_box">
    {% block bottom %}
        お問い合わせへの誘導バナー<br />
    {% endblock %}
</div>