
<div class="footer" role="navigation" style="padding: 20px;margin: 0 auto;border:1px solid #000">
    footer
    <ul>
        <li><a href="">nav1</a></li>
        <li><a href="">nav2</a></li>
        <li><a href="">nav3</a></li>
        <li><a href="">nav4</a></li>
        <li><a href="">{{ hensuu }}</a></li>
    </ul>
</div>